<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tweet Miner</title>
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/custom.css")">
	<script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")"></script>
</head>
<body>
	<div class="heading-center">
		<br><br><br>
		<form id="search">
	  		<input id="search-key" name="search-key" type="text" size="40" autocomplete="off" placeholder="enter search key" />
		</form>
	</div>
	<div id="search-body">
	</div>
	<script src="@routes.Assets.versioned("javascripts/search.js")"></script>
</body>
</html>